.container{
    display:flex;
    align-items: center;
    justify-content: center;
}

span{
    align-items: center;
    justify-content: center;
}

.arc-header{
    align-items: center;
    justify-content: center;
}

.arc-content{
    margin: 10px 0;
}

.arc-desc{
    margin: 10px 0;
}

.container-tile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-customer-image{
    justify-content: center;
    width: 300px;
    align-items: center;
    height: 200px;
    margin: auto;
}

.customer-desc{
    background-color: red;
}
