.container{
    display:flex;
    align-items: center;
    justify-content: center;
}

span{
    align-items: center;
    justify-content: center;
}

.arc-header{
    align-items: center;
    justify-content: center;
}

.arc-content{
    margin: 10px 0;
}

.arc-desc{
    margin: 10px 0;
}

.container-tile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-customer-image{
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: auto;
    width: 100%;
    
}

.container-customer-image:hover {
    transform: scale(0.9);
    transition-duration: 1s, 15s;
}


.customer-desc{
    background-color: red;
}


@media screen and (max-width: 1000px){
    .container-customer-image {

    }
}